PORT=5000
JWT_SECRET=change-me-in-production
CORS_ORIGIN=http://localhost:4200
AWS_REGION=ap-south-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
DYNAMODB_USERS_TABLE=makeup_users
DYNAMODB_OTP_TABLE=makeup_otps
DYNAMODB_SERVICES_TABLE=makeup_services
DYNAMODB_OFFERS_TABLE=makeup_offers
DYNAMODB_BUSINESS_DETAILS_TABLE=makeup_business_details
DYNAMODB_BOOKINGS_TABLE=makeup_bookings
DYNAMODB_GALLERY_TABLE=makeup_gallery
DYNAMODB_REVIEWS_TABLE=makeup_reviews
BCRYPT_SALT_ROUNDS=10
